/* .candidate-profile-body{
    display: flex;
    font-family: "Myanmar Khyay-Regular", Helvetica;
}

.candidate-profile-body input[type="text"]:focus{
    height: 100%;
    background-color: white;
    outline-offset: 0;
}

.candidate-profile-left{
    flex: 0 0 80%;
    padding: 2%;
}

.form-label{
    font-weight: bold;
}

.savebtn{
    background-color: #E8ac66;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;   
    text-decoration: none;
}

.savebtn p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    color: black;
}

#formsavebtn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} */


.alllllcp *{
    font-family: "Myanmar Khyay-Regular", Helvetica;
}

#cprofile{
    font-size: 2.5rem;
    margin: 1rem 4rem;
    color: #4c489d;
}

.hrrcp{
    margin: 0 auto 1rem;
    width:90%;
    height: 2px;
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
}

#addcp{
    position: relative;
    background: linear-gradient(45deg, #6057A6, #864d88);
    border-radius: 20px;
}

.lhscp{
    width:67vw;
    float: left;
    margin: 10px 50px;
    position: relative;
    overflow: hidden;
    
}

.cpbg{
    position: relative;
    z-index: 5;
    
    padding: 0.5rem;
}

#formsavebtncp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.savebtncp{
    background-color: #E8ac66;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;   
    text-decoration: none;
}

.savebtncp p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    color: black;
}



.candidate-profile-page input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #4c489d;
    background-color: #ebebeb;
  }

.petticp{
    display: flex;
    justify-content: space-evenly;
}

.lblcp{
    font-weight:600;
    margin-bottom: 3px;
    color: #ffefd6;
}

.cp__field {
    width: 40%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.cp__input {
    border-bottom: 2px solid #e3e3e3;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    transition: 0.2s;
    color: #4c489d;
  }
  
  .cp__input:active,
  .cp__input:focus,
  .cp__input:hover {
    outline: none;
    border-bottom-color: #6a679e;
  }

  .dropdowncp {
    width: 40%;
    padding: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e3e3e3;
    color: #4c489d;
    font-weight: 700;
}

.catgrpcp{
display: flex;
}

#langpluscp{
    cursor: pointer;
}

#domainpluscp{
    cursor: pointer;
}

#lang-listcp {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

#domain-listcp {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.itemcp {
    border-radius: 10px;
    background-color: #a6aaf5;
    padding: 5px;
    margin: 5px 0;
}

.itemcp button {
    font-weight:bold;
    margin-left: 1px;
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
}

.xtra-formcp{
    display: flex;
    flex-direction: column;
}

.xtra-headingcp{
    margin: 1.5rem 3rem 1rem;
}

.petticp-btn{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    margin-right: 4rem;
    width: 92%;
   
}

.addwkcp{
    width:100px;
    height: 40px;
    font-weight: 600;
    border-radius: 20px ;
    cursor: pointer;
    background-color: #8ddf79;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.addwkcp:hover{
    background-color: #6db15c;
}

.addwkcp:active{
    background-color: #4d7a42;
    transform: translateY(0.5px);
}

.delwkcp{
    width:100px;
    height: 40px;
    font-weight: 600;
    border-radius: 20px ;
    cursor: pointer;
    background-color: #e36b6b;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.delwkcp:hover{
    background-color: #c65a5a;
}

.delwkcp:active{
    background-color: #964747;
    transform: translateY(0.5px);
}

.add_button{
    background-color: rgb(50, 167, 221);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.add_button:hover{
    background-color: rgb(47, 149, 197);
}

.add_button:active{
    background-color: rgb(31, 119, 160);
    transform: translateY(0.5px);
}



.smhrr{
    margin: 0 auto 1rem;
    width:75%;
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
}

.screen__backgroundcp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    border-radius: 25px;
  }
  
  .screen__background__shapecp {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1cp {
    height: 520px;
    width: 520px;
    background: linear-gradient(90deg, #6C63AC, #1E1F26);
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2cp {
    height: 220px;
    width: 220px;
    background: #6c63ac;
    top: -172px;
    right: 0;
    border-radius: 32px;
  }
  
  .screen__background__shape3cp {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5d54a4, #6a679e);
    top: -24px;
    right: 0;
    border-radius: 32px;
  }
  
  .screen__background__shape4cp {
    height: 400px;
    width: 200px;
    background: linear-gradient(80deg, #6C63AC, #1E1F26);
    top: 420px;
    right: 50px;
    border-radius: 60px;
  }