.candidate-bottom{
    display: flex;
    padding-top: 2%;
    min-height: 75vh;
}

.candidate-upcoming{
    padding: 2% 3% 0 2%;
    flex: 0 0 22%;
}

.candidate-upcoming > div{
    display: flex;
}

.candidate-upcoming > div > .upcoming{
    margin: 0;
}

.recommended-jobs-section{
    font-family: "Myanmar Khyay-Regular", Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 2% 0% 2%;
    gap: 20%;
}

.recommended-jobs-section > hr{
    margin-top: 2%;
    border-style: none;
    border-top: 3px solid #E4E4E4;
    width: 100%;
    height: 1px;
}

.recommended-jobs-section > div{
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.recommended-jobs-section > div > div{
    display: flex;
}

.recommended-jobs-section > div > div > div:first-child{
    display: flex;
    gap: 2%;
    flex: 0 0 85%;
}

.recommended-jobs-section > div > div > div:nth-child(2){
    display: flex;
    padding-left: 2%;
}

.recommended-job-card{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    box-shadow: 0px 4px 4px #00000040;
    padding: 1.75%;
    border: 3px solid;
    border-style: hidden;
    border-radius: 10px;
}

.recommended-job-card:hover{
    border: 3px solid;
    border-color: #8be2f5;
}

.recommended-job-card h4{
    margin: 0;
}

.view-more{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    box-shadow: 0px 4px 4px #00000040;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 5%;
}