.candpro .left{
    padding: 2rem;
    width: 70%;
    font-family: "Myanmar Khyay-Regular", Helvetica;
    float: left;
}

.candpro h2{
    font-family: "Myanmar Khyay-Regular", Helvetica;
    padding: 1rem 1rem 0rem 1rem;
    margin-left: 1rem;
}

.candpro hr{
    margin: 0rem 1.5rem 0rem 1.5rem ;
}

.left .leftbox,.rightbox{
    background: rgb(242,242,242);
    height: 35rem;
    width: 48%;
    margin-top: 1.25rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Myanmar Khyay-Regular", Helvetica;
}

.candpro .right{
    height: 37rem;
}

.left .leftbox{
    float: left;
}

.left .rightbox{
    float: right;
}