@font-face {
  font-family: "Myanmar Khyay-Regular";
  src: url(/Khyay-Regular.ttf);
}

body{
  margin: 0;
  display: flex;
}

#Navbar{
  background-color: black;
  max-width: 100%;
  height: 12vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}

.logo{
  color: #FFFFFF;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 30px;
  position: relative;
  flex: 1 1 auto;
}

.logo > p{
  position: absolute;
  top: 25%;
  left: 15%;
}

.logo > p > span{
  color: #F82222;
}

.NavItems {
  flex: 0 0 75%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 37px;
}

.nav-link {
  margin-left: auto;
}

.nav-link a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 23px;
}

.profile-icon{
  position: relative;
  flex: 0 1 auto;
}

.profile-container{
  position: relative;
  flex: 0 1 auto;
}

.profile-icon > img{
  z-index: 1;
  position: relative;
  left: 40%;
}

.ellipse{
  position: absolute;
  background-color: #e8e8e8;
  background-size: cover;
  border-radius: 33.5px;
  height: 67px;
  left: 46.5%;
  top: 12px;
  width: 67px;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container > hr{
  border-style: none;
  border-top: 3px solid #E4E4E4;
  width: 95%;
  height: 1px;
}

.search-container > div{
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.filter-button{
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 45%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  gap: 12px;
}

.search-box > input[type="text"], input[type="text"]:focus{
  background: transparent;
  border: none;
  outline-width: 0;
  width: 94%;
  height: 10%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
}

