@font-face {
  font-family: "Myanmar Khyay-Regular";
  src: url(/Khyay-Regular.ttf);
}

body{
  margin: 0;
  display: flex;
}

#Navbar{
  background-color: #1e1f26;
  max-width: 100%;
  height: 12vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}

.logo{
  color: #FFFFFF;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 30px;
  position: relative;
  flex: 1 1 auto;
}

.logo > p{
  position: absolute;
  top: 25%;
  left: 15%;
}

.logo > p > span{
  color: #F82222;
}

.NavItems {
  flex: 0 0 75%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 37px;
}

.nav-link {
  margin-left: auto;
}

.nav-link a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 23px;
}

.profile-icon{
  position: relative;
  flex: 0 1 auto;
}

.profile-container{
  position: relative;
  flex: 0 1 auto;
}

.profile-icon > img{
  z-index: 1;
  position: relative;
  left: 40%;
}

.ellipse{
  position: absolute;
  background-color: #e8e8e8;
  background-size: cover;
  border-radius: 33.5px;
  height: 67px;
  left: 46.5%;
  top: 12px;
  width: 67px;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container > hr{
  border-style: none;
  border-top: 3px solid #E4E4E4;
  width: 95%;
  height: 1px;
}

.search-container > div{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.filter-button{
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 45%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  gap: 12px;
}

.search-box > input[type="text"], input[type="text"]:focus{
  background: transparent;
  border: none;
  outline-width: 0;
  width: 94%;
  height: 10%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
}

.job-info{
  display: flex;
  padding: 2% 0;
  flex-direction: row;
  height: 57vh;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-weight: 400;
}

.job-list{
  padding: 1% 0%;
  margin-left: 2%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  gap: 5%;
}

.homejob-right{
  margin-right: 2%;
  padding-left: 2%;
  display: flex;
  flex: 0 0 60%;
}

.job-title-card{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  box-shadow: 0px 4px 4px #00000040;
  width: 80%;
  padding: 2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.job-title-card:hover{
  
  border: 3px solid;
  border-color: #8be2f5;
}

.job-title-card h4{
  margin: 0.4% 2%;
}

.job-title-card p{
  margin: 3% 2%;
  font-size: 14px;
  color: #464646;
}

.selected-job-info{
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 2%;
  overflow: auto;
}

.selected-job-top h1, h2, h3{
  margin: 0;
}

.selected-job-top{
  display: flex;
  flex-direction: column;
}


.selected-job-top > hr{
  border-style: none;
  border-top: 3px solid #E4E4E4;
  width: 100%;
  height: 1px;
}

.selected-job-top > div{
  display: flex;
  margin-bottom: 0.75%;
}

.selected-job-top > div > div:first-child{
  padding: 2%;
}

.selected-job-bottom{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 2%;
  box-sizing: border-box;
}

.jobpetti{
  display: flex;
  align-items: flex-end;
  margin-bottom: 6px;
}

.propjob{
  margin-left: 3px;
  font-size: 1.1rem;
}

.apply-container{
  position: relative;
  padding: 1%;
}

.apply-button{
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  color: #3B3B3B;
  float: right;
  background-color: #8be1f4;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  width: 30%;
  padding: 1%;
  min-width: min-content;
  cursor: pointer;
}