
.alllll *{
    font-family: "Myanmar Khyay-Regular", Helvetica;
}

.add-job-body{
  display: flex;
  flex-direction: row;
}

.add-job-right{
  padding: 4% 4% 0 2%;
}

#yourjobs{
    font-size: 2.5rem;
    margin: 1rem 4rem;
    color: #4c489d;
}

#hrr{
    margin: 0 auto 1rem;
    width:90%;
    height: 2px;
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
}

#addjf{
    position: relative;
    background: linear-gradient(45deg, #6057A6, #864d88);
    border-radius: 20px;
}

.lhs{
    width:67vw;
    float: left;
    margin: 10px 50px;
    position: relative;
    overflow: hidden;
    
}

.addjobbg{
    /* background-color:rgb(182, 182, 182); */
    position: relative;
    z-index: 5;
    
    padding: 0.5rem;
}

#formsavebtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.savebtn{
    background-color: #E8ac66;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;   
    text-decoration: none;
}

.savebtn p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    color: black;
}



.add-job-body input[type="text"],input, input[type="text"]:focus {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #4c489d;
    background-color: #ebebeb;
  }

.pettiaj{
    display: flex;
    justify-content: space-evenly;
}

.lbl{
    font-weight:600;
    margin-bottom: 3px;
    color: #ffefd6;
}

.aj__field {
    width: 40%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.aj__input {
    border-bottom: 2px solid #e3e3e3;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    /* width: 100%; */
    transition: 0.2s;
    color: #4c489d;
  }
  
  .aj__input:active,
  .aj__input:focus,
  .aj__input:hover {
    outline: none;
    border-bottom-color: #6a679e;
  }

  /* .dropdownaj {
    width: 40%;
    padding: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e3e3e3;
    color: #4c489d;
    font-weight: 700;
} */

.catgrpaj{
  display: flex;
}

#domainplusaj{
    cursor: pointer;
}

#domain-listaj {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.itemaj {
  border-radius: 10px;
  /* background-color: #fca8ff; */
  background-color: #a6aaf5;
  padding: 5px;
  margin: 5px 0;
}

.itemaj button {
  font-weight:bold;
  margin-left: 1px;
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
}

.button-container-aj {
  display: flex;
  gap: 5px;
}

.buttongaj {
  flex: 1;
  padding: 10px;
  background-color: rgb(224, 224, 224);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
}

.activeaj {
  background-color: rgb(37, 0, 139);
  color: white;
}

.input-container {
  display: flex;
  align-items: center;
}

#ajdate{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid gray;
}

#ajtime{
  padding: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.screen__backgroundaj {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    border-radius: 25px;
  }
  
  .screen__background__shapeaj {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1aj {
    height: 520px;
    width: 520px;
    background: linear-gradient(90deg, #6C63AC, #1E1F26);
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2aj {
    height: 220px;
    width: 220px;
    background: #6c63ac;
    top: -172px;
    right: 0;
    border-radius: 32px;
  }
  
  .screen__background__shape3aj {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5d54a4, #6a679e);
    top: -24px;
    right: 0;
    border-radius: 32px;
  }
  
  .screen__background__shape4aj {
    height: 400px;
    width: 200px;
    background: linear-gradient(80deg, #6C63AC, #1E1F26);
    top: 420px;
    right: 50px;
    border-radius: 60px;
  }